<div class=''>
    <%= render partial: 'partials/user_profile', locals: { user: @user } %>
    <div class='mb-4'>
        <h3 class='text-xl bp-3'>Bio <h3>
        <div class='text-gray-500 border-b-2 border-gray-200 pb-3'>
            <%=@user.bio%>
        </div>
    </div>
    <div class='mb-4'>
        <h3 class='text-xl bp-4 text-gray-400'>Posts<h3>
        <ul class='flex flex-col gap-2'>
            <% @user.three_recent_posts.each_with_index do |post, index| %>
                <li>
                    <%= render partial: 'partials/post_item', locals: { post: post, index:index } %>
                </li>
            <% end %>
        </ul>
    </div>
    <div>
        <%= link_to 'See all posts', user_posts_path(@user.id), method: :get, class: 'bg-gray-700 text-white py-2 px-6 rounded'%>
    </div>
</div>